{% extends 'base.html' %}

{% block content %}
  <h2>Inicia sesión para realizar pedidos</h2>
  {% if form.errors %}
    <p style="color: red">Tu contrasenya y usuario no son correctos. Por favor, reintentalo.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button type="submit">Identificarse</button>
    <a href="{% url 'signup' %}">¿Nuevo en el sitio? Regístrate</a>
  </form>
{% endblock %}