{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block content %}


<h2> Tu pedido ha sido procesado por e-mail </h2>
<hr>
<a href="{% url 'pedido-list' %}">Volver a la lista</a> | <a href="{% url 'logout' %}">Cerrar sesión</a>

{% endblock content %}