{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block content %}

    <h2>Pedido {{ pedido.id }}</span> </h2>
    <hr>
    <div class="row">
	    <div class="col-sm-6 prettyprint">
	    		
	    		<br/><strong>PEDIDO</strong>
	    		<br/><strong>Nº de pedido:</strong>{{ pedido.id }}
	       	<br/><strong>Cliente:</strong>{{ pedido.cliente }}
	       	<br/><strong>Fecha:</strong>{{ pedido.fecha }}
	       	<br/><strong>PVP Total:</strong>{{ pedido.total_pedido }} €
	       	<br/><strong>Direccion:</strong>{{pedido.direccion }}
	       	<br/><strong>CP: </strong>{{ pedido.codigo_postal }}
	       	<br/><strong>Ciudad: </strong>{{ pedido.ciudad }}
	       	<br/><strong>Provincia: </strong>{{ pedido.provincia }}
	       	<br/><strong>Pais:</strong> {{ pedido.pais }}
			<p>
			<br/><strong>DETALLE DEL PEDIDO</strong>
			<p>
			{% for fila in queryset %}
				Articulo: {{ fila.articulo }} | Unidades: {{ fila.unidades }} | Subtotal: {{ fila.subtotal }} <br>
			{% endfor %}
			<p>	
	    </div>
    </div>
    
    <a href="{% url 'pedido-sendmail' pedido.pk %}" class="btn btn-info">Confirmar y enviar el pedido por correo</a>
    <hr>
    <a href="{% url 'pedido-list' %}">Volver a la lista</a> | <a href="{% url 'logout' %}">Cerrar sesión</a>
  
    
{% endblock content %}

