{% extends "base.html" %}

{% block title %}{% endblock %}
{% block content %}
    <h2></h2>
    <hr>
    <div>
        <form action="" method="post">{% csrf_token %}
            <p>Confirmar borrado: "{{ object }}"?</p>
            <input type="submit"  class="btn btn-info" value="Confirmar"/>
		<hr>
		<a href="{% url 'pedido-list' %}">Volver a la lista</a> | <a href="{% url 'logout' %}">Cerrar sesión</a>
        </form>
    </div>
{% endblock %}