{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <h3>Bienvenido!</h3>
    </p>

    <h2>Listado de pedidos del cliente: {{ user.username }} </h2>
    <div>
        <ul>
            {% for pedido in object_list %}
                <li>Pedido: {{ pedido.id }}  - Cliente: {{pedido.cliente}}   - Importe: {{pedido.total_pedido}} | 
                <a href="{% url 'pedido-update' pedido.pk %}">Modificar</a> | 
                <a href="{% url 'pedido-delete' pedido.pk %}">Borrar</a> | 
                <a href="{% url 'pedido-detailhtml' pedido.pk %}">Confirmar por email</a>
                </li>
            {% empty %}
                <li>Sin pedidos.</li>
            {% endfor %}

        </ul>
        <hr>
            <a href="{% url 'pedido-add' %}">Crear un nuevo pedido</a> | <a href="{% url 'logout' %}">Cerrar sesión</a>
        </p>
    </div>
{% endblock %}